<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="db" connectionString="server=172.19.9.75\TESTVMT2;database=db_concesiones_vmt;user id=victor.yanez;password=Yanez2025$$;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10000"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="Off" defaultRedirect="errores/Default.aspx">
      <error statusCode="404" redirect="errores/404.aspx"/>
    </customErrors>-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="Microsoft.AnalysisServices.AdomdClient, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Syncfusion.EJ, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89"/>
        <add assembly="Syncfusion.EJ.Export, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89"/>
        <add assembly="Syncfusion.Linq.Base, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3D67ED1F87D44C89"/>
        <add assembly="Syncfusion.EJ.Web, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <pages theme="1401" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="eWorld.UI" namespace="eWorld.UI" tagPrefix="ew"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
        <add src="~/wuc/mantto/wuc_mantenimiento.ascx" tagName="uc_mantenimiento" tagPrefix="wuc"/>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
        <add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ.Web, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
        <add namespace="Syncfusion.JavaScript.Models" assembly="Syncfusion.EJ, Version=14.2451.0.26, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="/login.aspx" name=".ASPXFORMSAUTH" protection="None"/>
    </authentication>
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
    <globalization culture="es-SV"/>
    <httpHandlers>
      <!-- Register the HttpHandler used for BotDetect Captcha requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers/>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers/>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers/>
    </roleManager>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- Register the HttpHandler used for BotDetect Captcha requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--Configuraciones generales de sistema-->
    <add key="organizacion" value="Viceministerio de Transporte."/>
    <add key="id_sistema" value="concesiones_vmt"/>
    <add key="nombre_sistema" value="Sistema de Control de Concesiones"/>
    <add key="raiz_sistema" value="http://concesiones.vmt.gob.sv"/>
    <!--Fin configuraciones generales de sistema-->
    <add key="LoadEJResourcesFromAssembly" value="true"/>
    <add key="EJResources" value="jsrender:true;jqueryeasing:true;themes:true;"/>
    <!--Configuraciones específicas-->
    <add key="ID_ESTADO_ENVIADA_RESGUARDO_GFI" value="2"/>
    <add key="ID_ESTADO_EN_RESGUARDO_GFI" value="3"/>
    <add key="ID_PERFIL_TECNICO" value="TECNICO"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BLL.WcfEncuesta" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="BLL.IWcfEncuesta" behaviorConfiguration="web"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfSeguridad"/>
        <binding name="BasicHttpBinding_IWcfSeguridadBS3"/>
        <binding name="BasicHttpBinding_IWcfEnlaces"/>
        <binding name="BasicHttpBinding_IWcfPersonal" maxReceivedMessageSize="2097152"/>
        <binding name="BasicHttpBinding_IWcfHuellas"/>
        <binding name="BasicHttpBinding_IWcfMaestra" maxReceivedMessageSize="2097152"/>
        <binding name="LicRpvWSPortBinding"/>
        <binding name="LicRpvWSPortBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://soa.mop.gob.sv/mop/seg/Seguridad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfSeguridad" contract="Mop.Seg.BLL.IWcfSeguridad" name="BasicHttpBinding_IWcfSeguridad"/>
      <endpoint address="http://soa.mop.gob.sv/mop/seg/SeguridadBS3.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfSeguridadBS3" contract="Mop.Seg.BLL.BS3.IWcfSeguridadBS3" name="BasicHttpBinding_IWcfSeguridadBS3"/>
      <endpoint address="http://soa.mop.gob.sv/mop/rh/Enlaces.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfEnlaces" contract="Mop.Rh.Enlaces.IWcfEnlaces" name="BasicHttpBinding_IWcfEnlaces"/>
      <endpoint address="http://soa.mop.gob.sv/mop/rh/Personal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfPersonal" contract="Mop.Rh.Personal.IWcfPersonal" name="BasicHttpBinding_IWcfPersonal"/>
      <endpoint address="http://soa.mop.gob.sv/mop/audit/Huellas.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfHuellas" contract="Mop.Audit.Huellas.IWcfHuellas" name="BasicHttpBinding_IWcfHuellas"/>
      <endpoint address="http://soa.mop.gob.sv/mop/seg/Maestra.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfMaestra" contract="Mop.Seg.BLL.WcfMaestra.IWcfMaestra" name="BasicHttpBinding_IWcfMaestra"/>
      <endpoint address="http://vmt.sertracen.com.sv:8383/LicRpvWS/LicRpvWSService" binding="basicHttpBinding" bindingConfiguration="LicRpvWSPortBinding" contract="sertracen.LicRpvWS" name="LicRpvWSPort"/>
    </client>
  </system.serviceModel>
  <location path="errores"/>
  <location path="public/default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      <globalization culture="es-SV" requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>
  </location>
</configuration>